# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
    - id: Name check
      name: Check sensitive info of name
      verbose: true
      language: system
      entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
    - id: IP check
      name: Check sensitive info of ip
      verbose: true
      language: system
      entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        language: system
        types: [go]
        pass_filenames: false
        entry: bash -c "cd src/bkauth && golangci-lint run --fix"
        files: src/bkauth/
      - id: golang-unittest
        name: golang-unittest
        language: system
        types: [go]
        pass_filenames: false
        entry:  bash -c "cd src/bkauth && GOARCH=amd64 make test"
        files: src/bkauth/
