definitions:
  common.AppResponse:
    properties:
      bk_app_code:
        type: string
      bk_tenant:
        $ref: '#/definitions/common.TenantResponse'
      description:
        type: string
      name:
        type: string
    type: object
  common.PaginatedResponse:
    properties:
      count:
        type: integer
      results: {}
    type: object
  common.TenantResponse:
    properties:
      id:
        type: string
      mode:
        type: string
    type: object
  handler.accessKeyUpdateSerializer:
    properties:
      enabled:
        example: true
        type: boolean
    required:
    - enabled
    type: object
  handler.appSecretSerializer:
    properties:
      bk_app_secret:
        example: bk_paas
        maxLength: 128
        type: string
    required:
    - bk_app_secret
    type: object
  handler.createAppSerializer:
    properties:
      bk_app_code:
        example: bk_paas
        maxLength: 32
        minLength: 1
        type: string
      bk_app_secret:
        example: bk_paas
        maxLength: 128
        type: string
      bk_tenant:
        $ref: '#/definitions/handler.tenantSerializer'
      description:
        example: Platform as A Service
        type: string
      name:
        example: BK PaaS
        type: string
    required:
    - bk_app_code
    - bk_tenant
    - name
    type: object
  handler.tenantSerializer:
    properties:
      id:
        example: default
        maxLength: 32
        type: string
      mode:
        enum:
        - global
        - single
        example: single
        type: string
    required:
    - mode
    type: object
  types.AccessKey:
    properties:
      bk_app_code:
        type: string
      bk_app_secret:
        type: string
      enabled:
        type: boolean
      id:
        type: integer
    type: object
  types.AccessKeyWithCreatedAt:
    properties:
      bk_app_code:
        type: string
      bk_app_secret:
        type: string
      created_at:
        type: string
      enabled:
        type: boolean
      id:
        type: integer
    type: object
  util.Response:
    properties:
      code:
        type: integer
      data: {}
      message:
        type: string
    type: object
info:
  contact: {}
  description: BKAuth API 文档
  title: BKAuth API
  version: "1.0"
paths:
  /api/v1/apps:
    get:
      consumes:
      - application/json
      description: lists apps with optional query parameters
      operationId: api-app-list
      parameters:
      - description: Tenant Type
        in: query
        name: tenant_mode
        type: string
      - description: Tenant ID
        in: query
        name: tenant_id
        type: string
      - description: Page number
        in: query
        name: page
        type: integer
      - description: Page size
        in: query
        name: page_size
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              description: the request id
              type: string
          schema:
            allOf:
            - $ref: '#/definitions/util.Response'
            - properties:
                data:
                  allOf:
                  - $ref: '#/definitions/common.PaginatedResponse'
                  - properties:
                      results:
                        items:
                          $ref: '#/definitions/common.AppResponse'
                        type: array
                    type: object
              type: object
      summary: list apps
      tags:
      - app
    post:
      consumes:
      - application/json
      description: creates an app with base info
      operationId: api-app-create
      parameters:
      - description: app_code
        in: header
        name: X-BK-APP-CODE
        required: true
        type: string
      - description: app_secret
        in: header
        name: X-BK-APP-SECRET
        required: true
        type: string
      - description: App Info
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/handler.createAppSerializer'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              description: the request id
              type: string
          schema:
            allOf:
            - $ref: '#/definitions/util.Response'
            - properties:
                data:
                  $ref: '#/definitions/common.AppResponse'
              type: object
      summary: app create
      tags:
      - app
  /api/v1/apps/{bk_app_code}:
    delete:
      consumes:
      - application/json
      description: deletes an app by app_code
      operationId: api-app-delete
      parameters:
      - description: app_code
        in: header
        name: X-BK-APP-CODE
        required: true
        type: string
      - description: app_secret
        in: header
        name: X-BK-APP-SECRET
        required: true
        type: string
      - description: App Code
        in: path
        name: bk_app_code
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              description: the request id
              type: string
          schema:
            $ref: '#/definitions/util.Response'
      summary: delete app
      tags:
      - app
    get:
      consumes:
      - application/json
      description: gets an app by app_code
      operationId: api-app-get
      parameters:
      - description: app_code
        in: header
        name: X-BK-APP-CODE
        required: true
        type: string
      - description: app_secret
        in: header
        name: X-BK-APP-SECRET
        required: true
        type: string
      - description: App Code
        in: path
        name: app_code
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              description: the request id
              type: string
          schema:
            allOf:
            - $ref: '#/definitions/util.Response'
            - properties:
                data:
                  $ref: '#/definitions/common.AppResponse'
              type: object
      summary: get app
      tags:
      - app
  /api/v1/apps/{bk_app_code}/access-keys:
    get:
      consumes:
      - application/json
      description: list app secret
      operationId: api-app-secret-list
      parameters:
      - description: app_code
        in: header
        name: X-BK-APP-CODE
        required: true
        type: string
      - description: app_secret
        in: header
        name: X-BK-APP-SECRET
        required: true
        type: string
      - description: the app which want to list secret
        in: path
        name: bk_app_code
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              description: the request id
              type: string
          schema:
            allOf:
            - $ref: '#/definitions/util.Response'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/types.AccessKeyWithCreatedAt'
                  type: array
              type: object
      summary: app secret list
      tags:
      - app
    post:
      consumes:
      - application/json
      description: creates app secret
      operationId: api-app-secret-create
      parameters:
      - description: app_code
        in: header
        name: X-BK-APP-CODE
        required: true
        type: string
      - description: app_secret
        in: header
        name: X-BK-APP-SECRET
        required: true
        type: string
      - description: the app which want to create secret
        in: path
        name: bk_app_code
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              description: the request id
              type: string
          schema:
            allOf:
            - $ref: '#/definitions/util.Response'
            - properties:
                data:
                  $ref: '#/definitions/types.AccessKey'
              type: object
      summary: app secret create
      tags:
      - app
  /api/v1/apps/{bk_app_code}/access-keys/{access_key_id}:
    delete:
      consumes:
      - application/json
      description: delete app secret
      operationId: api-app-secret-delete
      parameters:
      - description: app_code
        in: header
        name: X-BK-APP-CODE
        required: true
        type: string
      - description: app_secret
        in: header
        name: X-BK-APP-SECRET
        required: true
        type: string
      - description: the app which want to delete secret
        in: path
        name: bk_app_code
        required: true
        type: string
      - description: the secret which want to delete
        in: path
        name: access_key_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              description: the request id
              type: string
          schema:
            $ref: '#/definitions/util.Response'
      summary: app secret delete
      tags:
      - app
    put:
      consumes:
      - application/json
      description: put app secret
      operationId: api-app-secret-put
      parameters:
      - description: app_code
        in: header
        name: X-BK-APP-CODE
        required: true
        type: string
      - description: app_secret
        in: header
        name: X-BK-APP-SECRET
        required: true
        type: string
      - description: the app which want to put secret
        in: path
        name: bk_app_code
        required: true
        type: string
      - description: the secret which want to delete
        in: path
        name: access_key_id
        required: true
        type: string
      - description: app secret
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/handler.accessKeyUpdateSerializer'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              description: the request id
              type: string
          schema:
            $ref: '#/definitions/util.Response'
      summary: app secret put
      tags:
      - app
  /api/v1/apps/{bk_app_code}/access-keys/verify:
    post:
      consumes:
      - application/json
      description: verify app secret
      operationId: api-app-secret-verify
      parameters:
      - description: app_code
        in: header
        name: X-BK-APP-CODE
        required: true
        type: string
      - description: app_secret
        in: header
        name: X-BK-APP-SECRET
        required: true
        type: string
      - description: the app which want to verify secret
        in: path
        name: bk_app_code
        required: true
        type: string
      - description: app secret
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/handler.appSecretSerializer'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              description: the request id
              type: string
          schema:
            allOf:
            - $ref: '#/definitions/util.Response'
            - properties:
                data:
                  additionalProperties:
                    type: boolean
                  type: object
              type: object
      summary: app secret verify
      tags:
      - app
  /healthz:
    get:
      consumes:
      - application/json
      description: /healthz to make sure the server is health
      operationId: healthz
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              description: the request id
              type: string
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: healthz for server health check
      tags:
      - basic
  /ping:
    get:
      consumes:
      - application/json
      description: /ping to get response from iam, make sure the server is alive
      operationId: ping
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              description: the request id
              type: string
          schema:
            additionalProperties:
              type: string
            type: object
      summary: ping-pong for alive test
      tags:
      - basic
  /version:
    get:
      consumes:
      - application/json
      description: /version to get the version of iam
      operationId: version
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              description: the request id
              type: string
          schema:
            additionalProperties:
              type: string
            type: object
      summary: version for identify
      tags:
      - basic
swagger: "2.0"
